




body {

    background-image: url(paints/clinic_background.jpg);
    /*background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(20,20,254,1) 35%, rgba(2,194,255,1) 94%, rgba(0,212,255,1) 100%);*/
    background-repeat: no-repeat;
    display: flex;
    background-size: cover;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    

}

*{

    font-family: cursive;

    box-sizing: padding-box;

}

form {

    width: 400px;
    border: 3px solid rgb(21, 0, 255);
    padding: 20px;
    background: rgb(255, 255, 255);
    border-radius: 20px;
    /*align-items: center;*/
    /*margin-top: 0;*/
    left: 20%;
    margin-top: 10cm;
    
}
form:hover {
    box-shadow: 0 0 100px rgb(14, 3, 65);
}

h2 {

    text-align: center;
    margin-bottom: 40px;

}

input {

    display: block;
    border: 2px solid #087e9b;
    width: 95%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;

}

label {

    color: #888;
    font-size: 18px;
    padding: 10px;

}

button {

    float: right;
    background: rgb(35, 174, 202);
    padding: 10px 15px;
    color: #fff;
    border-radius: 5px;
    margin-right: 10px;
    border: none;
    align-items: center;

}

button:hover{

    opacity: .100;

}

.error {

   background: #F2DEDE;
   color: #0c0101;
   padding: 10px;
   width: 95%;
   border-radius: 5px;
   margin: 20px auto;

}

/*h1 {
    align-items: center;
    text-align: center;
    color: rgb(134, 3, 3);
    position: absolute;
    top: 0;
    font-size: 50px;
    font-weight: 200;
    font-style: oblique;
    border: 5px solid #333;
    padding: 10px;
    background-color: rgb(0, 17, 71);
}*/
img
{
    width: 700px;
    position: absolute;
    top: 0;
    
}

a {

    float: right;
    background: rgb(183, 225, 233);
    padding: 10px 15px;
    color: #fff;
    border-radius: 10px;
    margin-right: 10px;
    border: none;
    text-decoration: none;

}

a:hover{

    opacity: .7;

}
