.przywitanie{
    text-align: center;
    background-color: blue;
    color: #16F7BF;
}
body{
    background-color: aqua;
}
.lista{
    text-align: center;
}
.linkMenu{
    text-align: center;
    background-color:  rgb(128,128,128,0.5);
    
}
ul{
    list-style-type: none;
    margin-top: 100px;
}
h1{
    font-size: 64px;
}

h2{
    text-align: center;
    font-size: 36px;
}
footer{
    background-color: #169DF7;
}
.egg{
    opacity: 0;
}
